<div class="window-wrapper">
    <h1>        
        Pre-trade introspection and outlook
    </h1>
    <div class="diary-wrapper">
        <div class="range">
            <h3>Checking myself</h3>
            <div class="inputs">
                <div class="range-title">
                    <label for="">Energy</label>
                    <input type="range" min="1" max="5">
                </div>
                <div class="range-title">
                    <label for="">Mood</label>
                    <input type="range" min="1" max="5">
                </div>
                <div class="range-title">
                    <label for="">Stress</label>
                    <input type="range" min="1" max="5">
                </div>
                <div class="range-title">
                    <label for="">Preparedness</label>
                    <input type="range" min="1" max="5">
                </div>
            </div>
            <div>
                <div class="check-container">
                    <h3>Defining events</h3>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                
            </div>
        </div>
    
        <section>
            <h4>What is going on in my head that might affect my decisions?</h4>
            <div class="focus-market-area-container">
                <div class="focus-market-area">
                    <h3>I should focus on:</h3>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="focus-market-area">
                    <h3>How do i see the market?</h3>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>    
        </section>
        <button>Save &RightArrow;</button>

        
    </div>
    
    
</div>