<div class="login-wrapper">
    <h2>Acces to Your own trading diary with a simple log in!</h2>

    <div class="login-container">
        <div class="login-text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae aliquid eligendi officia debitis laboriosam aliquam corrupti quam, obcaecati corporis. Saepe dolorum, tempora voluptas minus dolore est iure ipsum? Illo aliquid laboriosam, nisi perspiciatis doloremque, eum expedita perferendis suscipit recusandae, incidunt ducimus repellendus optio labore. Quam animi illum optio odit id!</p>
        </div>
        <div class="form-div">
            <form action="">
                <input type="text" placeholder="Username" required>
                <input type="password"placeholder="Password" required>
                <button>Sign in</button>
            </form>
            <button class="googlebtn">Or log in with <strong>Google</strong></button>
        </div>
    </div>
</div>