<div class="window-wrapper">
  <nav>
    <ul class="nav-left">
      <li><a routerLink="blog">Blog</a></li>
      <li><a routerLink="diary">My diary</a></li>
      <li><a routerLink="weekly">Weekly summary</a></li>
    </ul>
    <div></div>
    <ul>
      <li class="nav-right">
        <a routerLink="login">Log in!</a>
      </li>
    </ul>
  </nav>
  
  <section>
    <router-outlet></router-outlet>
  </section>
  
  <footer>
  

      <div class="footercontent">
        <div>
          <h4>General</h4>
          <p>General terms and conditions</p>
          <p>Privacy policy</p>
        </div>

        <div>
          <h4>Contact</h4>
          <p><a href="">demo.trade.app@gmail.org</a></p>
          <p><a href="">demo.trade.app@gmail.org</a></p>
        </div>

        <div>
          <h4>Creators:</h4>
          <p>Kiss Ákos</p>
          <p>Karácson Péter</p>
        </div>
      </div>

      <div class="copyright">
        <p>Bertram&copy; [DEMO] 2023</p>
      </div>

    
  </footer>
</div>